a{
    text-decoration: none;
}
h1{
    text-align:center;
    border-bottom: 3px solid black;  
    padding-bottom: 10px;
    margin: 0;
    background-color: blueviolet;
}
div{

   border-right: 3px solid black;
   height: 1500px;
   width: 150px;
   margin-top:-20px; 
   float: left
}
span{
   position: relative;
   left: 30px
}
h2{
    color:blueviolet
}
@media(max-width: 800px){
    div{
        border: none
    }
    h1{
        border: none;
        background-color:white;
        color:blueviolet;
    }
}
p{
    text-decoration: none;
}